{% extends 'base.html'%}

{% block content %}


    <body>
            <div class="container-fluid">
                
                        <div class="row">
            <!-- Business news section  -->
            <h3 style="text-align: center;"> Business News</h3>
            
                {% for business in business_news %}
                <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="details">
                    <h5>{{business.name}}</h5>
                    <p>{{business.description}}</p>
                    
                    
                    <a href="/articles/{{business.id}}"><button type="submit" class="btn btn-success"> Read Article</button></a>
                    
                </div>
            </div>
        </div>
                {% endfor %}
            </div>
        
            <div class="row">
            <!-- Technology news section -->
            <h3 style="text-align: center;"> Technology News </h3>
            {% for technology in technology_news %}
                <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="details">
                    <h5>{{technology.name}}</h5>
                    <p>{{technology.description}}</p>
                    <a href="/articles/{{technology.id}}"><button type="submit" class="btn btn-success">Read Article</button></a>
                </div>
            </div>
        </div>
                {% endfor %}
            </div>
            <div class="row">
            <!-- Sports news section -->
            <h3 style="text-align: center;">Sports News</h3>
            {% for sports in sports_news %}
            <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="details">
                <h5>{{sports.name}}</h5>
                <p>{{sports.description}}</p>
                <a href="/articles/{{sports.id}}"><button type="submit" class="btn btn-success">Read Article</button></a>
            </div>
        </div>
    </div>
            {% endfor %}
        </div>
    
    <div class="row">
            <!-- General news section  -->
            <h3 style="text-align: center;"> General News</h3>
            
                {% for general in general_news %}
                <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="details">
                    <h5>{{general.name}}</h5>
                    <p>{{general.description}}</p>
                    <a href="/articles/{{general.id}}"><button type="submit" class="btn btn-success">Read Article</button></a>
                </div>
            </div>
        </div>
                {% endfor %}
            </div>

            <div class="row">

            <!-- Entertainment news section -->
            <h3 style="text-align: center;"> Entertainment News </h3>
            
                {% for entertainment in entertainment_news %}
                <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="details">
                    <h5>{{entertainment.name}}</h5>
                    <p>{{entertainment.description}}</p>
                    <a href="/articles/{{entertainment.id}}"><button type="submit" class="btn btn-success">Read Article</button></a>
                </div>
            </div>
        </div>
                {% endfor %}
            </div>

            <div class="row">

            <!-- Health news section -->
            <h3 style="text-align: center;">Health News</h3>
             
                {% for health in health_news %}
                <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="details">
                    <h5>{{health.name}}</h5>
                    <p>{{health.description}}</p>
                    <a href="/articles/{{health.id}}"><button type="submit" class="btn btn-success">Read Article</button></a>
                </div>
            </div>
        </div>
                {% endfor %}
            </div>

            <div class="row">
            <!-- Science news section -->
            <h3 style="text-align: center;">Science News</h3>
            {% for science in science_news %}
            <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="details">
                <h5>{{science.name}}</h5>
                <p>{{science.description}}</p>
                <a href="/articles/{{science.id}}"><button type="submit" class="btn btn-success">Read Article</button></a>
            </div>
        </div>
    </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock%}